/*Shared*/
nav .container {
    width: calc(100% - 80px) !important;
}
ul.nav.navbar-nav.navbar-right,
a.login.nav-link{margin-right:0;}

.node-type-event-promotion{
    
}
.node-type-event-promotion .container.node-event-promotion{width:100%;}
.node-type-event-promotion .card .card-image:hover img{
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.node-type-event-promotion .card .col-md-6{width:100% !important;}
